{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Suscriptor" %}{% endblock %}
{% block body %}
    {% include "evento/encabezado_evento.html" %}
    <div align="center">
        <h3
            <label>
            {% if ok %}
                {% trans "Sus datos fueron guardados, gracias por suscribirse a este evento." %}
            {% else %}
                {% trans "Sus datos ya se encuentran en nuestro sistema para este evento." %}
            {% endif %}
            </label>
        </h3
        <a href="/detalle/{{evento.id}}/">{% trans "Regresar a evento" %}</a>
             
    </div>
{% endblock %}