{% extends "base.html" %}

{% block head_title %}Reporte{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
    {% if suscriptores %}
            <div id="reporte" align="center">
                <label><h2>Suscriptores</h2></label>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Nombre(s)</td>
                            <td>Apellido(s)</td>
                            <!--<td>C&#233dula</td>-->
                            <!--<td>Email</td>-->
                            <td>Profesi&#243;n</td>
                            <td>Instituci&#243;n</td>
                            <td>Estado/Regi&#243;n</td>
                            <td>Pa&#237;s</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for suscriptor in suscriptores %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{suscriptor.nombres|capfirst}}</td>
                            <td>{{suscriptor.apellidos|capfirst}}</td>
                            <!--<td>{{suscriptor.cedula}}</td>-->
                            <!--<td>{{suscriptor.email}}</td>-->
                            <td>{{suscriptor.profesion}}</td>
                            <td>{{suscriptor.institucion}}</td>
                            <td>{{suscriptor.estado|upper}}</td>
                            <td>{{suscriptor.pais|upper}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <a href="/detalle/{{evento.id}}/">Regresar a evento</a>
            </div>
    {% endif %}
{% endblock %}
