{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Reporte" %}{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
    {% if suscriptores %}
            <div id="reporte" align="center">
                <label><h2>{% trans "Suscriptores" %}</h2></label>
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>{% trans "Nombre(s)" %}</td>
                            <td>{% trans "Apellido(s)" %}</td>
                            {% if user.is_authenticated %}
                            <td>{% trans "C&#233dula" %}</td>
                            <td>{% trans "Email" %}</td>
                            {% endif %}
                            <td>{% trans "Profesi&#243;n" %}</td>
                            <td>{% trans "Instituci&#243;n" %}</td>
                            <td>{% trans "Estado/Regi&#243;n" %}</td>
                            <td>{% trans "Pa&#237;s" %}</td>
                            {% if user.is_authenticated %}
                            <td>{% trans "Patrocinio" %}</td>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for suscriptor in suscriptores %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{suscriptor.nombres|title}}</td>
                            <td>{{suscriptor.apellidos|title}}</td>
                            {% if user.is_authenticated %}
                            <td>{{suscriptor.cedula}}</td>
                            <td>{{suscriptor.email}}</td>
                            {% endif %}
                            <td>{{suscriptor.profesion}}</td>
                            <td>{{suscriptor.institucion}}</td>
                            <td>{{suscriptor.estado|upper}}</td>
                            <td>{{suscriptor.pais|upper}}</td>
                            {% if user.is_authenticated %}
                            <td>
                                {% if suscriptor.comida %}
                                    <labe> C </labe>
                                {% endif %}
                                {% if suscriptor.transporte %}
                                    <labe> T </labe>
                                {% endif %}
                                {% if suscriptor.hospedaje %}
                                    <labe> H </labe>
                                {% endif %}
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <a href="/detalle/{{evento.id}}/">{% trans "Regresar a evento" %}</a>
            </div>
    {% endif %}
{% endblock %}
