{% extends "base.html" %}
{% load i18n %}

{% block section_title %}{% trans "Participantes" %}{% endblock %}

{% block body %}
    {% if suscriptores %}
    <p class="instructions">{% trans "Lista de participantes para el evento" %} <a href="/detalle/{{ evento.id }}" title="">{{ evento.nombre }}</a>:</p>

    <table class="table table-stripped">
        <tbody>
            {% for suscriptor in suscriptores %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="/profiles/{{suscriptor.suscriptor.user}}">{{suscriptor.suscriptor.user}} ({{suscriptor.suscriptor.user}})</a></td>
                <td>{{suscriptor.suscriptor.cedula}}</td>
                <td>{{suscriptor.suscriptor.nacionalidad|upper}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="instructions">{% trans "Aún no se han registrado participantes para el evento" %} <a href="/detalle/{{ evento.id }}" title="">{{ evento.nombre }}</a></p>
    {% endif %}
{% endblock %}
