{% load i18n %}
{% load app %}
{% load googleanalytics %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />

        <!-- link rel="stylesheet" href="{% media_url %}themes/{% theme %}/default.css" / -->
        <link rel="stylesheet" href="{% media_url %}css/bootstrap.css" />
        <link rel="stylesheet" href="{% media_url %}css/bootstrap-responsive.css" />
        <link rel="stylesheet" href="{% media_url %}css/common.css" />
        <link rel="stylesheet" href="{% media_url %}css/base.css" />
        <link rel="shortcut icon" href="{% media_url %}images/sofi.ico" type="image/x-icon" />
        <link rel="icon" href="{% media_url %}images/sofi.ico" type="image/x-icon" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed/rss" />
        <script type="text/javascript" src="{% media_url %}js/jquery-1.6.min.js"></script>
        <script type="text/javascript" src="{% media_url %}js/jquery.qtip-1.0.0-rc3.min.js"></script>

        {% block extra_head %}
        {% endblock %}
        {% google_analytics %}

    </head>
    <body>
        <div id="content_wrapper">
            <div id="content">
            {% include "navbar.html" %}
            <h1 class="section_title">{% block section_title %}{% endblock %}</h1>
            {% block body %}
            {% endblock %}
            <hr/>
            {% include "footer.html" %}
            </div>
        </div>
    </body>
</html>
