	<div id="sidebar">
		<ul>
			<li>
				<h2>Información</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat venenatis erat eget convallis. Aenean vel orci sapien. Aenean diam enim, pretium vitae egestas sed, volutpat a est. Suspendisse velit neque, tristique dictum euismod ut, elementum vel eros.</p>
			</li>
			<li id="categories">
				<h2>Enlaces de interes</h2>
				<ul>
					<li><a href="http://wwww.cenditel.gob.ve">CENDITEL</a></li>
					<li><a href="http://radecon..cenditel.gob.ve">RADECON</a></li>
				</ul>
			</li>
		</ul>
	</div>
