{% extends "base.html" %}
{% load i18n %}
{% load smart_if %}
{% load comments i18n %}
{% load app %}

{% block head_title %}{% trans "Evento" %}{% endblock %}

{% block body %}
    {% if eventos.object_list %}
   
                    {% for evento in eventos.object_list %}
                    {% if evento.publicar %}
					<div class="post">
						<div class="title">
							{% if evento.presentaciones %}
								<h2><a href="/detalle/{{evento.id}}/">{{ evento.nombre }}</a></h2>
							{% else %}
								<h2>{{ evento.nombre }}</h2>
							{% endif %}

							<p><small>{% trans "Publicado el" %} {{ evento.fecha }} {% trans "por" %} <a href="/profiles/{{ evento.admin }}">{{ evento.admin }}</a></small></p>
						</div>
						<div class="entry">
							<p>{{ evento.resumen|wordwrap:"95" }}
							{% if evento.lugar %}
							<br>
							Lugar:
							<br>
							{{ evento.lugar|wordwrap:"95" }}
							{% endif %}
							<br>
							Fecha:
							<br>
							desde {{ evento.fecha_ini|date:"d/m/Y" }} al {{ evento.fecha_fin|date:"d/m/Y" }}</p>
						</div>

						<p class="links">
							{% if evento.presentaciones %}
								<a href="/detalle/{{evento.id}}/" title="{% trans "presentaciones" %}"><img src="{% media_url %}images/childish_Slideshow.png"/></a>
							{% endif %}
							{% if evento.suscripciones %}
								{% if evento.fecha_ini.toordinal <= fecha_hoy.toordinal and evento.fecha_fin.toordinal >= fecha_hoy.toordinal%}
									<a href="/suscriptor/registro/{{evento.id}}/" title="{% trans "suscribir" %}"><img src="{% media_url %}images/childish_Plus.png"/></a>
								{% endif %}
								<a href="/suscriptor/reporte/{{evento.id}}/" title="{% trans "suscriptores" %}"><img src="{% media_url %}images/childish_Archive.png"/></a>
                            {% endif %}
							
							
							{% if evento.comentario %}
								{% get_comment_count for evento as comment_count %}
								{% if comment_count %}
									<a href="/comentario/{{evento.id}}/" title="{% trans "comentarios" %}"><img src="{% media_url %}images/childish_Comments.png"/>({{ comment_count }})</a>
								{% else %}
									<a href="/comentario/{{evento.id}}/" title="{% trans "dejar comentario" %}"><img src="{% media_url %}images/childish_Comments.png"/></a>
								{% endif %}
							{% endif %}
						</p>
					</div>
                    {% endif %}
                    {%endfor%}
        </div>
	{% else %}
		<h2><p>{% trans "No se encuentran Eventos" %}</p></h2>
	{% endif %}
{% endblock %}

<!-- Codigo que permite mostrar el avance en la paginacion de los eventos -->
{% block pagination %}
<div id="paginacion">
	{% if eventos.has_previous %}
		  <a href="/{{ eventos.previous_page_number }}/">{% trans "Anterior" %}</a>&nbsp;
	{% endif %}
			
{% if rango_paginas %}
	{% for p in rango_paginas %}
	{% ifnotequal eventos.number p %}
		<a href="/{{ p }}/">{{p}}</a>
	{% else %}
		<a>{{p}}</a>
	{% endifnotequal %}
	{% endfor %}
	{% endif %}
	
{% if eventos.has_next %}
		&nbsp;<a href="/{{ eventos.next_page_number }}/">{% trans "Siguiente" %}</a>
	{% endif %}
</div>
{% endblock %}