{% extends "base.html" %}

{% block head_title %}Evento{% endblock %}

{% block body %}
    {% if lista_eventos %}
        
        <div align="center">
            <table id="evento">
                <tbody>
                    {% for evento in lista_eventos %}
                    {% if evento.publicar %}
                        <tr id="borde">
                            <td rowspan="4">
                                <img src="/site_media/images/borde.png" />
                            </td>
                        </tr>
                        <tr id="titulo">
                            <td class="letra_negrita letra_grande">
                                {% if evento.presentaciones %}
                                    <a href="detalle/{{evento.id}}/">{{ evento.nombre }}</a>
                                {% else %}
                                    {{ evento.nombre }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="background: url('/site_media/images/fondo.png'); white-space:pre; padding-left: 15px;">
{{ evento.resumen|wordwrap:"95" }}
{% if evento.lugar %}
Lugar:
{{ evento.lugar|wordwrap:"95" }}
{% endif %}
Fecha:
desde {{ evento.fecha_ini|date:"d/m/Y" }} al {{ evento.fecha_fin|date:"d/m/Y" }}
                            </td>
                        </tr>
                        <tr id="pie">
                            <td>
                                {% if evento.presentaciones %}
                                    <a href="detalle/{{evento.id}}/">presentaciones</a>
                                {% endif %}
                                {% if evento.suscripciones %}
                                    &nbsp;
                                    &nbsp;
                                    <a href="/suscriptor/registro/{{evento.id}}/">suscribir</a>
                                    &nbsp;
                                    &nbsp;
                                    <a href="/suscriptor/reporte/{{evento.id}}/">suscriptores</a> 
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td>
                                <br>
                            </td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    {% endif %}
{% endblock %}
