{% extends "base.html" %}

{% block section_title %}Próximos eventos{% endblock %}
{% block body %}
  {% if eventos.all %}
    <div class="row show-grid">
    {% for evento in eventos.all %}
      {% if evento.publicar %}
        <div class="span4 event">
          <a href="/detalle/{{evento.id}}/"><div class="image" style="background: url('{{ MEDIA_URL}}{{ evento.logo }}');"></div></a>
          <div class="info">
              <h3><a href="/detalle/{{evento.id}}/">{{ evento.nombre }}</a></h3>
              <div class="date">
              {% ifequal evento.fecha_ini evento.fecha_fin %}
                {{ evento.fecha_ini }}
              {% else %}
                Desde el {{ evento.fecha_ini }} hasta el {{ evento.fecha_fin }}
              {% endifequal %}
              </div>
              <div class="description">{{ evento.resumen }}</div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% else %}
  <p>No hay eventos disponibles</p>
  {% endif %}
{% endblock %}
