* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 18px;
    line-height: 22px;
    color: #777;
}

h1 {
    color: #069;
    margin: 40px 20px;
}

h3 {
    line-height: 18px;
    color: #000;
}

#header_wrapper {
    width: 100%;
    background-color: #ddd;
}

#header {
    width: 940px;
    height: 280px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #000;
}

#content_wrapper {
    width: 100%;
    background-color: #eee;
}

#content {
    width: 940px;
    background-color: #fff;
    margin: 0 auto;
}

.navbar-inner {
    -webkit-border-radius: 0px !important;
}

.navbar a {
    font-size: 12px;
}

.navbar .username {
    font-size: 12px;
    padding: 9px 10px 11px;
    line-height: 19px;
    float: right;
}

.row {
    margin: 0px 10px 0 10px;
}

.span4 {
    width: 440px;
    height: 450px;
    /*border: 1px solid #000;*/
    margin: 0 10px 20px 10px;
}

.event .info {
    height: 180px;
    white-space: wrap;
    margin: 5px 10px 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.event .image {
    height: 252px;
    background-color: #000;
}

.event .date {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    color: #999;
}

.event .description {
    font-size: 13px;
    text-align: justify;
    color: #666;
}

.alert {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}
