h1 {
  text-align: center;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}

#window {
  width: 300px;
  height: 450px;
  margin: 100px auto;
}

#login-form {
  padding: 30px;
  background-color: #fff;
}
