form {
    padding-top: 20px;
}

#window {
    width: 600px;
    margin: 100px auto;
}

.form-container {
    background-color: #fff;
}

#create {
    height: 320px;
}

.navbar {
    margin-bottom: 0px;
}

.instructions {
    font-size: 13px;
    padding: 10px 20px 0px 20px;
}

.warning {
    font-size: 13px;
    color: #000;
}
