h2 {
    padding: 20px 20px 0 20px;
    text-align: center;
}

p {
    padding: 10px 20px;
    text-align: center;
}

#window {
    width: 600px;
    margin: 100px auto;
}

#container {
    height: 200px;
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.site-name {
    margin-top: 10px;
    font-size: 12px;
}

.submit-row {
    width: 380px;
    text-align: right;
}

.alert, .errorlist {
    font-size: 13px;
}
