{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Encuesta" %}{% endblock %}

{% block body %}
    {% include "evento/encabezado_evento.html" %}
    <center>
        <div id="grafico">
            <h2  style="text-align: center;">{% trans "Encuesta" %}</h2>
            <table>
                <tr>
                    <td style="white-space:pre; font-size: 08pt;">
{{ items|wordwrap:"95" }}
                    </td>
                    <td>
                        <img src="{{ grafico }}" alt="{{ grafico }}" />
                    </td>
                </tr>
            </table>
        </div>
        
    </center>
{% endblock %}
