{% extends "base_window.html" %}
{% load i18n %}
{% load humanize %}
{% block window_title %}Sofi :: {% trans "Registro" %}{% endblock %}
{% block window_style %}register.css{% endblock %}

{% block body %}

<div id="container">
    <h2>{% trans "Activación" %}</h2>
    {% if account %}
    <p class="instructions">{% trans "Gracias por registrarse, ahora puede" %} <a href="/accounts/login/">{% trans "entrar al sistema." %}</a>.</p>
    {% else %}
    <p class="instructions">{% trans "Disculpe, la activación no funcionó. Puede haber un error en el enlace de activación o que este haya expirado; las claves de activación sólo serán válidas durante" %} {{ expiration_days|apnumber }} {% trans "días luego del registro." %}</p>
    {% endif %}
    <br/><br/>
</div>
{% endblock %}
