{% extends "register.html" %}
{% load i18n %}
{% block head_title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block body %}
{% include "registration/navbar.html" %}

<div id="container">
    <p class="instructions">{% trans "Introduzca su dirección de correo electrónico, y le enviaremos instrucciones para cambiar su contraseña." %}</p>

    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        {{ form.email.errors }}
        <div class="control-group">
            <label for="id_email" class="control-label">{% trans "Correo electrónico" %}:</label>
            <div class="controls">{{ form.email }}</div>
        </div>
        <br/>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Restablecer contraseña' %}" class="btn btn-primary" />
        </div>
    </form>
</div>

{% endblock %}
