{% extends "base_window.html" %}
{% load i18n %}
{% block window_title %}Sofi :: Reestablecer contraseña{% endblock %}
{% block window_style %}password_reset.css{% endblock %}

{% block body %}

<div id="container">
    <p class="instructions">{% trans "Introduzca su dirección de correo electrónico, y le enviaremos instrucciones para cambiar su contraseña." %}</p>

    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            <label for="id_email" class="control-label">{% trans "Correo electrónico" %}:</label>
            <div class="controls">{{ form.email }}</div>
            <div>{% if form.email.errors %}<span class="help-inline">{{ form.email.errors }}</span>{% endif %}</div>
        </div>
        <br/>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Restablecer contraseña' %}" class="btn btn-primary" />
        </div>
    </form>
</div>

{% endblock %}
