{% extends "base.html" %}
{% load i18n adminmedia %}
{% load url from future %}

{% block section_title %}{% trans 'Cambiar contraseña' %}{% endblock %}

{% block body %}

    <p class="instructions">{% trans "Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la nueva contraseña dos veces para verificar que la ha escrito correctamente." %}</p>

    {% if form.errors %}
    <div class="alert alert-error">
        {% trans "Necesita corregir los siguientes campos:" %}
        <div class="errorlist">{{ form.non_field_errors }}</div>
    </div>
    {% endif %}

    <form action="" method="post" class="form-horizontal">{% csrf_token %}

        <div class="control-group {% if form.old_password.errors %}error{% endif %}">
            <label for="id_old_password" class="control-label">{% trans "Contraseña antigua" %}:</label>
            <div class="controls">{{ form.old_password|safe }} {% if form.old_password.errors %}<span class="help-inline">{{ form.old_password.errors }}</span>{% endif %}</div>
        </div>

        <div class="control-group {% if form.new_password1.errors %}error{% endif %}">
            <label for="id_new_password1" class="control-label">{% trans "Contraseña nueva" %}:</label>
            <div class="controls">{{ form.new_password1|safe }} {% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors }}</span>{% endif %}</div>
        </div>

        <div class="control-group {% if form.new_password2.errors %}error{% endif %}">
            <label for="id_new_password2" class="control-label">{% trans "Confirme contraseña" %}:</label>
            <div class="controls">{{ form.new_password2|safe }} {% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors }}</span>{% endif %}</div>
        </div>

        <div class="submit-row">
            <input type="submit" value="{% trans "Cambiar contraseña" %}" class="btn btn-primary" />
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

{% endblock %}
