{% extends "base_window.html" %}
{% load i18n %}
{% load humanize %}
{% block window_title %}Sofi :: {% trans "Restablecimiento de contraseña" %}{% endblock %}
{% block window_style %}register.css{% endblock %}

{% block body %}

<div id="container">
    <h2>{% trans "Restablecimiento de contraseña exitoso" %}</h2>
    <p class="instructions">{% trans "Le hemos enviado un correo electrónico con instrucciones para cambiar su contraseña. Verifique el correo y siga las instrucciones para reestablecer su acceso al sistema." %}</p>
    <br/><br/>
</div>
{% endblock %}
