{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans 'Restablecer contraseña' %}{% endblock %}

{% block body %}

<div id="container">
    {% if validlink %}
    <p class="instructions">{% trans "Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente." %}</p>

    <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
            {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
            <label for="id_new_password1" class="control-label">{% trans "Nueva contraseña:" %}:</label>
            <div class="controls">{{ form.new_password1 }}</div>
        </div>
        
        <div class="control-group">
            {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
            <label for="id_new_password1" class="control-label">{% trans "Confirmar contraseña:" %}:</label>
            <div class="controls">{{ form.new_password2 }}</div>
        </div>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Cambiar mi contraseña' %}" class="btn btn-primary" />
        </div>
    </form>

    {% else %}
    <p class="instructions">{% trans "El enlace de restablecimiento de contraseña era invalido, seguramente por haberse utilizado previamente. Por favor, solicite un nuevo restablecimiento de contraseña." %}</p>
    {% endif %}
</div>
{% endblock %}
